*.md text eol=lf
*.txt text eol=lf
*.c text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.cs text eol=lf
*.xaml text eol=lf
*.java text eol=lf
*.js text eol=lf
*.py text eol=lf
*.bat text eol=crlf
*.png binary
*.jpg binary
*.gif binary
